<div class="input-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-filter"></span> Filter
    </span>
    <input type="text" class="form-control" placeholder="Filter" ng-model="searchText">
</div>
<div class="table-responsive">
    <table class="table table-stripped table-hover table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Telephone number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="phonebookEntry in phonebook | filter:searchText">
                <td>{{phonebookEntry.name}}</td>
                <td>{{phonebookEntry.lastName}}</td>
                <td>{{phonebookEntry.number}}</td>
                <td>
                    <div class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-default btn-success" aria-label="Edit" type="button" ng-click="editEntry(phonebookEntry._id)">
                            <span class="glyphicon glyphicon-pencil"></span> <span class="hidden-xs">Edit</span>
                        </button>
                        <button class="btn btn-default btn-danger" aria-label="Remove" type="button" ng-click="deleteEntry(phonebookEntry._id)">
                            <span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">Remove</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>